<div>
  <h1>Ticket {{ticket.code}}</h1>
  <p>Fecha de compra: {{ticket.purchase_datetime}}</p>
  <p>Total: ${{ticket.amount}}</p>
  <p>¡Gracias por su compra!</p>
  <a href="/">Volver al inicio</a>
</div>