<div>
  <div>Nombre: {{user.name}}</d>
  <div>Email: {{user.email}}</div>
  <span>Rol:</span>
  <select id="roleSelect">
    <option value="User">Usuario</option>
    <option value="Premium">Usuario Premium</option>
    <option value="Admin">Administrador</option>
  </select>
  <button id="updateUser">Actualizar</button>
  <button id="deleteUser">Eliminar usuario</button>
</div>
<script src="../js/index.js"></script>